:root {
    --soft-blue: #48AEF0;
    --sky-blue: #B6DFF9;
    --pastel-blue: #94B8D1;
    --grey: #D2E9F9;
    --white: #FFFFFF;
    --soft-grey: #F9F8F8;
    --black: #000000;
}

* {
    padding: 0%;
    margin: 0%;

}
body {
    font-family: 'Cabin Condensed', sans-serif;
    background-color: var(--sky-blue);
}
.title {
    display: flex;
    background-color: var(--soft-blue);
}
.logo {
    width: 220px;
    height: 160px;
    display: flex;
    justify-content: center;
}
h1 {
    color: var(--black);
    font-family: sans-serif;
    font-size: 55px;
    text-align: center;
    padding-top: 10px;
}

.movie-search {
    background-color: var(--grey);
    border: var(--pastel-blue);
    width: 400px;
    height: 40px;
    font-size: 15px;
    padding-left: 17px;
    border-radius: 9999px;
    margin-top: 67px;
    margin-left: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    text-align: center;
    margin: 10px;

}

#filter {
    border-color: var(--soft-grey);
}

#order {
    border-color: var(--soft-grey);
}
.cleanerButton {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--soft-blue);
    border-color: var(--pastel-blue);
}
.card {
    background-color: var(--white);
    padding: auto;
    margin: 1%;
}
img {
    width: 200px;
    border-radius: 10px;
    margin: 10px;

}
li {
    list-style: none;
}