:root {
    --soft-blue: #48AEF0;
    --sky-blue: #B6DFF9;
    --pastel-blue: #94B8D1;
    --grey: #D2E9F9;
    --white: #FFFFFF;
    --soft-grey: #F9F8F8;
    --black: #000000;
}

* {
    padding: 0%;
    margin: 0%;

}
body {
    font-family: 'Average', serif;
    font-family: 'Cabin Condensed', sans-serif;
    background-color: var(--sky-blue);
}
.title {
    display: flex;
    background-color: var(--soft-blue);

}
.logo {
    width: 10%;
    height: 5%;
    display: flex;
}
h1 {
    color: var(--black);
    font-family: 'Average', serif;
}
img {
    width: 15%;
    height: 10%;
    border-radius: 4%;
}

.movie-search {
    background-color: var(--pastel-blue);
    border: var(--grey);
    border: none;
    text-align: justify;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    margin: 10%;
    width: 50%;
    padding: 40%, 70%;
    background-color: var(--pastel-blue);
}
.filter {
    background-color: var(--soft-grey);
    border-color: var(--pastel-blue);
    width: 15%;
    height: 20%;
    margin: 1%;
    padding: 0.5;
}
#filter {
    border-color: var(--soft-grey);
}
.sortOrder {
    background-color: var(--soft-grey);
    border-color: var(--pastel-blue);
    width: 15%;
    height: 20%;
    margin: 1%;
}
#order {
    border-color: var(--soft-grey);
}
.cleanerButton {
    background-color: var(--soft-blue);
    border-color: var(--pastel-blue);
    width: 15%;
    height: 20%;
    margin: 1%;
    padding: 0.6%;
}
.card {
    background-color: var(--white);
    padding: auto;
    margin: 1%;
}
li {
    list-style: none;
}