:root {
    --soft-blue: #48AEF0;
    --pastel-blue: #94B8D1;
    --sky-blue: #B6DFF9;
    --grey: #D2E9F9;
    --soft-grey: #F9F8F8;
    --dark-grey: #2C2C2C;
    --white: #FFFFFF;
    --black: #000000;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Cabin Condensed', "sans-serif";
    background-color: var(--sky-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title {
    display: flex;
    background-color: var(--soft-blue);
}
.logo {
    width: 220px;
    height: 160px;
    display: flex;
    justify-content: center;
}
h1 {
    color: var(--black);
    font-family: sans-serif;
    font-size: 55px;
    text-align: center;
    padding-top: 10px;
}
.movie-search {
    background-color: var(--grey);
    border: var(--pastel-blue);
    width: 400px;
    height: 40px;
    font-size: 15px;
    padding-left: 17px;
    border-radius: 9999px;
    margin-top: 67px;
    margin-left: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
[data-testid="select-filter"] {
    width: 200px;
    height: 40px;
    margin: 14px 100px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background-color: var(--soft-grey);
    color: var(--dark-grey);
    border: var(--grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons:hover {
    background-color: var(--soft-blue);
    border: var(--pastel-blue);
    color: var(--white);
}
#filter {
    margin-left: 170px;
}
.cleanerButton {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--soft-blue);
    border-color: var(--pastel-blue);
    color: var(--white);
    border: var(--grey);
    margin-left: 100px;
}
.cleanerButton:hover {
    background-color: var(--soft-grey);
    border: var(--grey);
    color: var(--dark-grey);
}

.visual {
    background-color: var(--white);
    padding: 15px;
    margin: 20px;
    width: 290px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: 0.3s;
    text-align: center;
    font-family: Cabin Condense;
    font-size: 17px;
}
.visual > img {
    width: 230px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
    justify-content: center;
}
li {
    list-style: none;
    margin-bottom: 5px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.closeWindow {
    border: none;
    background-color: var(--soft-blue);
}
.windowModal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 530px;
    margin: 10px;
    border-radius: 50px;
    background-color: var(--soft-blue);
}
h2 {
    font-size: 40px;
    margin-top: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.modalCard {
    width: 700px;
    height: 430px;
    margin: 10px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);

}
.modalCard > img {
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}


.modalFondo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hiden {
    display: none;
}
footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
  }